extends ../../index.pug
block main
    .my-5
        h1.display-6.mb-5 Todos los proyectos
        each project in projects
                div(onclick=`location.href='/proyectos/editar/${project._id}'`).px-4.py-3.mb-3.border.bg-white.selection-item
                    .row.d-flex
                        .col-sm-2
                            //- statusDisplayer
                            include partials/projectStatusDisplay.pug
                        .col-sm-4.text-uppercase.lead #{project.productType} #{project.productBrand} #{project.productModel}
                        .col-sm-4.text-muted.lead.overflow-hidden #{project.productDescription}
                        .col-sm-2.text-info.lead #{project.projectLeader}
